<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
<!--            ${}은 Model안에 있는 특정 객체를 꺼내올 때 사용한다.-->
<!--            th:each를 통해 members List <Member> 에서 객체 하나하나를 꺼낼 수 있고-->
<!--            . 연산자가 가능한 이유는 Member에 getter가 있기 때문이다.-->
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>